numpy
pandas
matplotlib
opencv-python
scikit-learn
Pillow
tensorflow>=2.11.0
keras
fastapi
uvicorn[standard]
python-multipart
pydantic
scikit-image
reportlab
pyngrok
tqdm
ipython
psutil
jinja2
aiofiles
ngrok
uvicorn
seaborn
selenium
beautifulsoup4
requests
webdriver_installer
webdriver-manager
torch
torchvision
torchtext
transformers
onnxruntime
onnxruntime-gpu
openpyxl
xlsxwriter
pip install -r requirements.txt